{% extends 'nippo/base.html' %}

{% block content %}

<p>{{ post_data.title }}</p>
   
    <hr>

    <!--本文とimgのセット-->
    {% for card in post_data.contentscard.all %}
        
        <p>{{ card.subtitle }}</p>
        <p>{{ card.content }}</p>
        {% if card.image %}
            <img src="{{ card.image.url }}" alt="" class="rounded detail-img">
        {% endif %}
    <hr>
    {% endfor %}
    <!--ここまで-->

        <div class="btn btn-warning m-2 btn-detail">
         <a href="{% url 'post_edit' post_data.id %}" >編集</a>
        </div>

{% endblock %}