{% extends "nippo/base.html" %}


{% block content %}

<div class="my-4">
    <h2>投稿</h2>
</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
        <div>
        <p>###タイトル###</p>
        
            {{ form.as_p }}
        </div>
        <hr>
        <div>
            <p>###サブタイトルと本文###</p>
            
            {% for card_form in blog_formset  %}
                {{ card_form.as_p }}
            {% endfor %}
        </div>
        <hr>
        <div>
            <button name="btn_submit" type="submit">送信</button>
            <!--
            <button name="btn_add" type="submit">追加</button>
            -->
        </div>
    
</form>
{% endblock %}